.footer {
    width: 100%;

}

.footerWrapper{
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.footerText{
    font-size: 14px;
    font-weight: 200;
    color:rgb(111, 117, 118);

}