.home {
    flex: 1;
    margin-top: 20px;
}

.homeTextblock__head{
    margin-bottom: 40px; 
   
}

.homeTextblock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

