.home {
    flex: 1;
    padding: 20px;
  
}

.homeTextblock__head{
    margin-bottom: 40px;
    
   
}
.homeTextblock{
    display: flex;
    flex-direction: row;
   
    flex-wrap: wrap;
    width: 100%;
}