.studentContainer {
  flex: 1;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
}

.studentTitleContainer {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.studentTitle {
  color: rgb(4, 129, 54);
  margin-top: 15px;
  margin-left: -25px;
}

.studentDetailsBtn {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(62, 140, 82);
  color: white;
  cursor: pointer;
}

.student {
  background-color: rgb(234, 242, 231);
}

.studentImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}
