.text {
  background-color: rgb(234, 242, 231);
  display: flex;
  flex-direction: column;
  /* flex-basis: 100%; */
  flex: 1;
  padding: 10px;
  background-color: rgb(234, 242, 231);
  margin: 0px 10px 20px 0px;
}
