.widgetLarge {
    flex: 4;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 98%;
    padding: 0px;
    background-color: rgb(234, 242, 231);
}

.widgetLargeChartContainer {
    padding: 10px;
    margin: 10px;
}